{
  "spark": {
    "master": "spark://ipam-ulus-db-2"
  },
  "cassandra": {
    "host": "ipam-ulus-db-2",
    "keyspace": "ipam",
    "table": "metric",
  },
  "elasticsearch": {
    "host": "ttsearch",
    "port": "8080",
    "index": "ipam_paths"
  },
  "logging": {
    "level": "debug",
    "console": "true",
    " file": "~/spark.log"
  },
  "rollups": [
    "5m:3d",
    "1h:90d",
    "24h:3y"
  ]
}
